#mainBloc {
  margin: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bloc {
  border: 10px solid white;
  background-color: rgb(112, 177, 218);
  padding: 20px;
}
