#portfolioBody {
  background-color: white;
  color: black;
  margin-right: 20%;
  margin-left: 20%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

#remarquesProto {
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 100px;
}
#logo {
  height: 70px;
  width: 70px;
}

.titre1 {
  padding: 2px;
  width: 100%;
  text-align: center;
  border-radius: 20%;
  font-family: "Waiting for the Sunrise", cursive;
  font-size: 2.5em;
}

.alignProject {
  display: flex;
  flex-direction: column;
}

/*Mobile Version*/

@media (max-width: 961px) {
}
