#voyLogo {
  width: 90px;
  height: 90px;
  cursor: pointer;
  padding-bottom: 20px;
  padding-right: 20px;
}
#voyBody {
  position: relative;
  width: 90%;
  padding: 40px;
  box-shadow: 5px 5px 5px gainsboro, -1em 0 0.4em gainsboro;
  background-color: rgb(255, 197, 90);
}
#alignLogoBrand {
  display: flex;
  flex-direction: row;
}

#presentation {
  margin-bottom: 100px;
}
#titreCentre {
  text-align: center;
}
.open {
  cursor: pointer;
}
.close {
  position: absolute;
  color: red;
  font-size: xx-large;
  top: 0;
  right: 0;
  padding: 20px;
  cursor: pointer;
}

.infoClose {
  font-style: italic;
  text-align: center;
}
.titre2voy {
  color: rgb(90, 25, 25);
  padding-top: 20px;
}
.titre3voy {
  margin-top: 10px;
  color: orange;
}
.titre4voy {
  color: turquoise;
  padding-top: 20px;
}

.proto {
  color: blue;
}

#parcours {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

#bench {
  width: 100%;
  height: auto;
  margin-top: 50px;
}

#croquis {
  width: 100%;
  height: auto;
  padding-bottom: 10px;
}
#itw {
  width: 100%;
  height: auto;
  padding-top: 10px;
}

#matrice {
  width: 100%;
  height: auto;
}

#projet {
  display: flex;
  flex-direction: row;
}

.projet-contexteVoy {
  border: 3px solid turquoise;
  border-radius: 3%;
  margin-right: 10px;
  padding: 10px;
}

#cpn {
  width: 100%;
}

#prototype {
  width: 100%;
}
